// Border line styles
.hr-line {
    border-top: 5px solid $primary; // Border line style
    width: 100%; // Full width line by default
    margin: 0 auto;
    top: 15px;
    position: relative;

    // Optional: Adjustments for responsiveness
    @media screen and (max-width: 768px) {
        // Adjust width or other properties as needed
    }
}
