// Custom styles for unordered list
article ul {
    list-style: none; // Remove default bullet points
    padding: 1.5rem;

    li {
        padding-left: 0.7em; // Space for custom bullets
        margin-bottom: 0.5em; // Space between list items
        font-size: 1.25rem; // Font size for list items
        position: relative; // Allow absolute positioning within the li
        transition: color 0.3s ease; // Smooth transition for color
        line-height: 1.2em;


        // Custom bullet point using content property
        &::marker {
            content: '▶'; // Custom bullet point
            color: var(--bulma-primary); // Primary color for bullets

        }

        &:hover {
            color: var(--bulma-primary); // Change text color on hover

            &::marker {
                color: var(--bulma-link); // Change bullet color on hover
            }
        }
    }
}

// Custom styles for ordered list inside article
article ol {
    counter-reset: list-counter; // Reset the counter for ordered list
    padding: 0.3rem;

    li {
        position: relative; // Ensure positioning is relative for custom numbers
        margin-bottom: 1em; // Space between list items
        font-size: 1rem; // Font size for list items
        list-style: none;
        line-height: 1.2em;

        &::before {
            content: counter(list-counter) "  "; // Custom counter for ordered list
            counter-increment: list-counter; // Increment counter
            font-weight: 500;
            color: var(--bulma-primary); // Primary color for numbers
            font-size: 2em; // Larger font size for numbers
            line-height: 1em; // Align number vertically with text
        }
    }
}