/* General styles for .is-youtube */
.is-youtube {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.is-youtube iframe {
    border-radius: 10px;
}

/* Full-width styling but not applied on mobile */
@media screen and (min-width: 769px) {
    .is-youtube {
        width: 100%;
    }
}


.twitter-tweet {
    width: 100%;
    max-width: 500px;
    /* Adjust based on your preference */
}