<nav class="navbar {% if site.fixed_navbar %} is-fixed-{{ site.fixed_navbar }} {% endif %}" x-data="{ openNav: false }">
    <div class="container">
        <div class="navbar-brand">
            <a href="{{ site.baseurl }}/" class="navbar-item">
                <img
                    class="is-size-1"
                    src="{{ site.logo_url }}"
                    alt="Logo"
                    style="max-height: 3rem; margin-right: 0.2rem;"
                >
                {{ site.title }}
            </a>
            <!-- Search Icon (Desktop) -->
            <a
                role="button"
                class="navbar-burger burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navMenu"
                :class="{ 'is-active': openNav }"
                x-on:click="openNav = !openNav"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            <!-- Search Icon -->
            <a href="/search" class="navbar-item is-hidden-desktop" style="color: #00d1b2;">
                <span class="icon is-medium"><i class="fas fa-search"></i></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
            <div class="navbar-end">
                <!-- Align items to the left -->
                {% for item in site.data.navigation.navbar %}
                    {% if item.dropdown %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a href="{{ item.link | relative_url }}" class="navbar-link">
                                {% if item.image %}
                                    <img src="{{ item.image }}" alt="{{ item.name }}" class="navbar-icon mr-2">
                                {% elsif item.icon %}
                                    <i class="fas {{ item.icon }} navbar-icon mr-2"></i>
                                {% endif %}
                                {{ item.name }}
                            </a>
                            <div class="navbar-dropdown">
                                {% for subitem in item.dropdown %}
                                    <a href="{{ subitem.link | relative_url }}" class="navbar-item">
                                        {% if subitem.image %}
                                            <img
                                                src="{{ subitem.image }}"
                                                alt="{{ subitem.name }}"
                                                class="navbar-icon mr-2"
                                            >
                                        {% elsif subitem.icon %}
                                            <i class="fas {{ subitem.icon }} navbar-icon mr-2"></i>
                                        {% endif %}
                                        {{ subitem.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <a
                            href="{{ item.link | relative_url }}"
                            class="navbar-item {% if page.url == item.link %}has-text-primary{% endif %}"
                        >
                            {% if item.image %}
                                <img src="{{ item.image }}" alt="{{ item.name }}" class="navbar-icon mr-2">
                            {% elsif item.icon %}
                                <i class="fas {{ item.icon }} navbar-icon mr-2"></i>
                            {% endif %}
                            {{ item.name }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div
                class="navbar-end is-justify-content-center is-inline-flex is-vcentered"
            >
                <a href="/search" class="navbar-item is-hidden-touch has-text-primary">
                    <span class="icon"><i class="fas fa-xl fa-search"></i></span>
                </a>
                <!-- Social Media Links -->
                {% if site.data.navigation.social_media %}
                    {% for item in site.data.navigation.social_media %}
                        <a class="navbar-item" href="{{ item.link }}" target="_blank">
                            <span class="icon"><i class="fab fa-{{ item.name|downcase }}"></i></span>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</nav>
