<div class="button-options">
    <div class="columns">
        <div class="column">
            <button class="button is-primary is-light is-fullwidth is-medium">
                <span class="icon is-small"><i class="fas fa-blog"></i></span>
                <span>My Blog</span>
            </button>
        </div>
        <div class="column">
            <button class="button is-primary is-light is-fullwidth is-medium">
                <span class="icon is-small"><i class="fas fa-briefcase"></i></span>
                <span>My Portfolio</span>
            </button>
        </div>
        <div class="column">
            <button class="button is-primary is-light is-fullwidth is-medium">
                <span class="icon is-small"><i class="fas fa-briefcase"></i></span>
                <span>My Portfolio</span>
            </button>
        </div>
        <div class="column">
            <button class="button is-primary is-light is-fullwidth is-medium ">
                <span class="icon is-small"><i class="fas fa-tools"></i></span>
                <span>My Work</span>
            </button>
        </div>
    </div>
</div>
